body{
    background-color: #fff373;
}

.suni_kep{
    border: 2px;
    border-color: black;
    border-style: solid;
    height: 215px;
    width: 324px;
    
}

.altalanos_info{
    font-family: Arial, Helvetica, sans-serif;
}

.elofordulas{
    font-family: Arial, Helvetica, sans-serif;
}

.megjelenes{
    font-family: Arial, Helvetica, sans-serif;
}

.h2{
    text-align: center;
}

.vege{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
}

